.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  font-family: 'Arial';
  background-color: #0B0A1A;
  color: white;
}

.title {
  background: linear-gradient(90deg, #48DEFF 0%, #EE00F2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: black;
  background-clip: text;
  font-size: 200%;
  margin-top: 3%;
  text-align: center;
}

.btn {
  cursor: pointer;
  background-color: #474C7C;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 15vw;
  height: 7vh;
  border: solid #B300F2 1px;
  border-radius: 5px;
  margin: 5px;
}


.btnRetour {
  color: white;
  width: 10%;
  height: 5%;
  background: #535992;
  border: 1px solid #EE00F2;
  box-shadow: inset 0px -4px 32px -4px rgba(12, 12, 13, 0.1);
  border-radius: 8px;
  font-size: large;
  cursor: pointer;
  margin: 10px;
}


.createBtn {
  box-sizing: border-box;
  width: 477px;
  height: 82px;
  left: 85px;
  top: 120px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  cursor: pointer;
  background: #535992;
  border: 1px solid #EE00F2;
  box-shadow: inset 0px -4px 32px -4px rgba(12, 12, 13, 0.1);
  border-radius: 8px;
  margin: 20px;
  transition-duration: 500ms;
}

.createBtn:hover {
  background-color: #B300F2;
  /* Hover effect */
}

.selectModelContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  font-family: 'Arial';
  background-color: #0B0A1A;
  color: white;
}

.choiceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 40vh;
  background: #272541;
  border: 3px solid #B300F2;
  border-radius: 10px;
}

.inputSearch {
  width: 80%;
  height: 10%;
  color: white;
  background: #504E6B;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: 1%;
  padding: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.tabBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  width: 50vw;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  border-bottom: 2px solid transparent;
  height: 5%;
  background-color: #272541;
  border-radius: 20px;
  width: 50%;
  transition-duration: 1000ms;
}

.selectedTab {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  border-bottom: 2px solid transparent;
  height: 50%;
  border-radius: 20px;
  width: 50%;
  background-color: #525890;
  transition-duration: 1000ms;
}