.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #272541;
    height: fit-content;
    width: fit-content;
    margin-right: -50%;
    position: relative;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
    border: solid #B300F2 3px;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 80vh;
    color: white;
}

.modalTitleContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 20%;
    padding: 10px;
    background-color: #0B0A1A;
    border: solid #B300F2 1px;
    border-radius: 10px;
}

.modalTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background: linear-gradient(90deg, #48DEFF, #EE00F2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin: 0;
    margin-left: 20px;
    font-style: normal;
    font-weight: 400;
}

.genresContainer {
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* Enable vertical scrolling */
    overflow-x: hidden;
    /* Hide horizontal overflow */
    padding-right: 10px;
    /* Add padding to the right for the scrollbar */
}

/* Webkit Browsers (Chrome, Safari, Edge) */
.genresContainer::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

.genresContainer::-webkit-scrollbar-track {
    background: #272541;
    /* Track color */
    border-radius: 10px;
}

.genresContainer::-webkit-scrollbar-thumb {
    background: #B300F2;
    /* Thumb color */
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.genresContainer::-webkit-scrollbar-thumb:hover {
    background: #8C00B8;
    /* Darker shade on hover */
}

/* Firefox */
.genresContainer {
    scrollbar-width: thin;
    scrollbar-color: #B300F2 #272541;
}

/* Internet Explorer and Legacy Edge */
.genresContainer {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}


.genresBtn {
    width: 100%;
    height: 13%;
    cursor: pointer;
    display: flex;
    margin-top: 5%;
    border: solid #b300f2 1px;
    justify-content: center;
    align-items: center;
    background-color: #474c7c;
    padding: 2%;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    box-shadow: inset 0px -4px 32px -4px rgba(12, 12, 13, 0.1);
}

.genresBtn:hover {
    background-color: #B300F2;
    /* Hover effect */
}

.bottomGenreModal {

    color: white;
    display: flex;
    justify-content: right;
    text-align: right;
    font-size: x-small;
    margin-top: 3%;

}

.checkBoxSuggestion {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.customCheckbox {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #474c7c;
    border: 1px solid #b300f2;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin-right: 10px;
    /* Space between checkbox and label text */
}

.customCheckbox::after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.checkBoxSuggestion:checked+.customCheckbox {
    background-color: #b300f2;
    border-color: #fff;
}

/* Display the tick when checked */
.checkBoxSuggestion:checked+.customCheckbox::after {
    display: block;
    transform: rotate(45deg) scale(1);
    opacity: 1;
}

/* Hover effect */
.checkboxLabel:hover .customCheckbox {
    background-color: #676587;
    border-color: #fff;
}