.handleConnectionContainer {
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  border-bottom: solid #B300F2 3px;
  box-sizing: border-box;
  padding: 0 20px;
  background-color: #0B0A1A;
  /* Add padding if needed for spacing */
}

.title1 {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  background: linear-gradient(90deg, #48DEFF, #EE00F2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin: 0;
  margin-left: 20px;
  font-style: normal;
  font-weight: 400;
}

/* Frame 21 */
.btn {
  cursor: pointer;
  background-color: #474C7C;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 15vw;
  height: 7vh;
  border: solid #B300F2 1px;
  border-radius: 5px;
  margin: 5px;
}


.btn:hover {
  background-color: #B300F2;
  /* Hover effect */
}

.icon {
  color: #ffffff;
  width: 20px;
  height: 20px;
  margin: 5px;
}

.btnContainer {
  display: flex;
  flex-direction: row;
}

.roundBtn {
  cursor: pointer;
  display: flex;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background: #535992;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  transition-duration: 500ms;
}

.roundBtn:hover {
  background-color: #B300F2;
  /* Hover effect */
}