.listItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 95%;
  height: 35%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 1%;
  padding: 1%;
  transition-duration: 500ms;
  background: #504E6B;
  border: 1px solid #B300F2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.listItemContainer:hover {
  background-color: #B300F2;
  height: 40%;
}

.listItemTitle {
  width: 20%;
  /* border-right: #ffffff 1px solid; */
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.listItemMessage {
  display: flex;
  width: 60%;
  align-items: center;
  padding: 2%;
  font-size: 15px;
}

.iconContainer {
  display: flex;
  padding: 1%;
}

.icon {
  display: flex;
  font-size: 25px;
  color: white;
  cursor: pointer;
  margin-right: 13%;
  padding-right: 3%;

}

.icon:hover {
  cursor: pointer;
  color: #0B0A1A;
}