.listItemContainer {
  display: flex;
  align-items: center;
  width: 95%;
  height: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
  cursor: pointer;
  margin: 5px;
  margin-left: 2%;
  transition-duration: 500ms;
  background: #272541;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  user-select: none;
}

.listItemContainer:hover {
  background-color: #B300F2;
  height: 110%;
  /* Hover effect */
}

.listItemTitle {
  width: 25%;
  border-right: #ffffff 1px solid;
  height: 100%;
}

.listItemPrompt {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 3%;
  font-size: small;
}

.genre {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  border-right: #ffffff 1px solid;
}