.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: 'Arial';
  background-color: #0B0A1A;

}

.headerProfile {
  width: 60vw;
  height: 12vh;
  margin-bottom: 2%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;

}

.profilesContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
}


.profilesPic {
  display: flex;
  max-width: 80%;
  max-height: 80%;
  cursor: pointer;
  margin: 5%;
  border-radius: 50%;
}

.namediv {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start
}

.nom {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 90%;
  margin-block: 0;
}

.btnLogOut {
  display: flex;
  color: white;
  width: 5%;
  height: 30%;
  border: 1px solid #EE00F2;
  box-shadow: inset 0px -4px 32px -4px rgba(12, 12, 13, 0.1);
  background: #272541;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
}






.identifiant {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(156, 156, 156);
  font-size: 60%;
  margin-block: 0;

}

.selectModelContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  font-family: 'Arial';
  background-color: #0B0A1A;
  color: white;

}

.choiceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1vh;
  align-items: center;
  width: 70vw;
  height: 60vh;
  overflow-y: auto;
  scrollbar-width: large;
  scrollbar-color: #272541 #B300F2;
  background: #272541;
  border: 3px solid #B300F2;
  border-radius: 10px;


}

.modelChoiceContainer {
  display: flex;
  flex-direction: column;
  padding-top: 1vh;
  align-items: center;
  width: 70vw;
  height: 60vh;
  background: #272541;
  border: 3px solid #B300F2;
  border-radius: 10px;

}


.tabBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 8%;
  width: 50vw;
  margin-bottom: 1vh;
  user-select: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  border-bottom: 2px solid transparent;
  height: 0%;
  background-color: #0B0A1A;
  border-radius: 20px;
  width: 50%;
  transition-duration: 1000ms;

}

.selectedTab {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  border-bottom: 2px solid transparent;
  height: 90%;
  border-radius: 20px;
  width: 50%;
  transition-duration: 1000ms;
  background: linear-gradient(90deg, #48DEFF 0%, #EE00F2 100%);

}

.listItemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  width: 95%;
  height: 14%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  cursor: pointer;
  margin: 5px;
  transition-duration: 500ms;
  background: #272541;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  user-select: none;


}

.listItemContainer:hover {
  background-color: #B300F2;
  height: 18%;
  /* Hover effect */
}

.listItemTitle {
  width: 25%;
  border-right: #ffffff 1px solid;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;


}

.listItemPrompt {
  /* width: 25%; */
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 3%;


}

.display {
  display: flex;
}

.scrollWindow {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #D9D9D9 #272541;
  width: 95%;
  height: 100%;
}



.btn {
  color: white;
  width: 10%;
  height: 80%;
  background: #535992;
  border: 1px solid #EE00F2;
  box-shadow: inset 0px -4px 32px -4px rgba(12, 12, 13, 0.1);
  border-radius: 8px;
  font-size: large;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.footer {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 8%;
}

.promptCard {
  height: 35%;
  ;
}

.icon {
  color: #ffffff;
  display: flex;
  cursor: pointer;
  height: 70%;
  border-radius: 50%;
  display: flex;
  margin: 6.5%;
}

.profilPicture {
  border-radius: 100px;
}

.usernameAndName {
  color: white;
  display: flex;
  flex-direction: column;
  margin-right: 60%;
  margin-top: 2%;
  margin-left: 2%;
  font-weight: 600;
  font-size: 200%;
}

.username {
  color: grey;
  font-weight: 100;
  width: 100%;
}