.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: 'Arial';
  background-color: #0B0A1A;

}

.headerProfile {
  width: 20vw;
  height: 12vh;
  margin-bottom: 2%;
  margin-top: 2%;

}


.profilesContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
}



.profilesPic {
  display: flex;
  max-width: 70%;
  max-height: 70%;
  cursor: pointer;
}

.namediv {
  color: white;
}

.nom {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 20px;
  margin-block: 0;

}

.identifiant {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(156, 156, 156);
  font-size: 13px;
  margin-block: 0;

}

.btnLogOut {
  display: flex;
  flex-direction: row;
  color: white;
  width: 120%;
  height: 50%;
  background: #535992;
  border: 1px solid #EE00F2;
  box-shadow: inset 0px -4px 32px -4px rgba(12, 12, 13, 0.1);
  border-radius: 8px;
  font-size: medium;
  cursor: pointer;
  margin: 30%;
  align-items: center;
  margin-inline: 200px;
}



.tabBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  width: 50vw;
  margin-bottom: 2vh;
  user-select: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  border-bottom: 2px solid transparent;
  height: 0%;
  background-color: #272541;
  border-radius: 20px;
  width: 50%;
  transition-duration: 1000ms;
}


.selectedTab {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  border-bottom: 2px solid transparent;
  height: 90%;
  border-radius: 20px;
  width: 50%;
  background-color: #525890;
  transition-duration: 1000ms;
  background: linear-gradient(90deg, #48DEFF 0%, #EE00F2 100%);

}

.titre:hover {
  background-color: #504E6B;
  ;
}

.boxes {
  width: 60%;
  height: 70%;
  background: #272541;
  border: 1px solid #B300F2;
  border-radius: 8px;
  margin: 10px;
  font-size: large;
  padding-left: 10px;
  margin-top: 0;
  align-items: center;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #D9D9D9 #272541;
}

.box {
  width: 90%;
  height: 30%;
  border: 1px solid #EE00F2;
  border-radius: 8px;
  margin: 40px;
  bottom: -30px;
  font-size: large;
  padding-left: 10px;
  margin-top: 15px;
  flex-direction: column;
  background-color: #504E6B;
  align-items: space-around;

}


.btnRetour {
  color: white;
  width: 10%;
  height: 5%;
  background: #535992;
  border: 1px solid #EE00F2;
  box-shadow: inset 0px -4px 32px -4px rgba(12, 12, 13, 0.1);
  border-radius: 8px;
  font-size: large;
  cursor: pointer;
  margin: 10px;
  align-items: flex-start;
  display: flex;
}