.main {
    background-color: #0B0A1A;
    height: 100vh;
    width: 100vw;
}

.projectBody {
    display: flex;
    width: 100vw;
    height: 90vh;

}

.leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    margin: 2%;

}

.suggestionContainer {
    width: 90%;
    background-color: #272541;
    border: solid #b300f2 3px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3%;
    margin: 2%;
    height: 80%;

}

.suggestionTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    font-weight: lighter;
    margin-bottom: 2%;

}

.suggestionList {
    width: 100%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    color: white;

    overflow-y: auto;
    /* Enable vertical scrolling */
    overflow-x: hidden;
    /* Hide horizontal overflow */
    padding-right: 10px;
    /* Add padding to the right for the scrollbar */
}

/* Webkit Browsers (Chrome, Safari, Edge) */
.suggestionList::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

.suggestionList::-webkit-scrollbar-track {
    background: #272541;
    /* Track color */
    border-radius: 10px;
}

.suggestionList::-webkit-scrollbar-thumb {
    background: #B300F2;
    /* Thumb color */
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.suggestionList::-webkit-scrollbar-thumb:hover {
    background: #8C00B8;
    /* Darker shade on hover */
}

/* Firefox */
.suggestionList {
    scrollbar-width: thin;
    scrollbar-color: #B300F2 #272541;
}

/* Internet Explorer and Legacy Edge */
.suggestionList {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}



.suggestionItem {
    cursor: pointer;
    display: flex;
    margin-top: 5%;
    border: solid #b300f2 1px;
    justify-content: space-between;
    background-color: #474c7c;
    padding: 2%;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    box-shadow: inset 0px -4px 32px -4px rgba(12, 12, 13, 0.1);

}

.suggestionItem:hover {
    background-color: #B300F2;
    /* Hover effect */
}

.suggestionItemLeft {
    display: flex;
}

.bottomSuggestionList {

    color: white;
    display: flex;
    justify-content: right;
    text-align: right;
    font-size: x-small;
    margin-top: 10%;

}

.checkBoxSuggestion {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.customCheckbox {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #474c7c;
    border: 1px solid #b300f2;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin-right: 10px;
    /* Space between checkbox and label text */
}

.customCheckbox::after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.checkBoxSuggestion:checked+.customCheckbox {
    background-color: #b300f2;
    border-color: #fff;
}

/* Display the tick when checked */
.checkBoxSuggestion:checked+.customCheckbox::after {
    display: block;
    transform: rotate(45deg) scale(1);
    opacity: 1;
}

/* Hover effect */
.checkboxLabel:hover .customCheckbox {
    background-color: #676587;
    border-color: #fff;
}

.projectContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2%;

}

.projectHeader {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    margin: 1%;

}

.leftPartHeader {
    width: 160%;
}

.rightPartHeader {
    width: 80%;
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: flex-end;
    /* Align content to the right */

    /* Push to the right side */


}

.textHeader {
    color: white;
    font-size: 10px;
    margin-bottom: 1%;
}

.inputProjectTitle {
    height: 80%;
    width: 70%;
    background-color: #272541;
    border: 3px solid #B300F2;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    margin-top: 0;
    padding-left: 10px;
}

.colorTheme {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #272541;
    border: 3px solid #B300F2;
    border-radius: 8px;
    font-size: large;
    color: white;

}

.colorTheme1Icon {
    color: aqua
}

.colorTheme2Icon {
    color: #474c7c;
}

.colorTheme3Icon {
    color: #B300F2;
}

.colorTheme4Icon {
    color: #0B0A1A;
}

.colorTheme1Icon,
.colorTheme2Icon,
.colorTheme3Icon,
.colorTheme4Icon {
    cursor: pointer;
    /* Cursor change on hover */
    transition: transform 0.2s ease-in-out;
    /* Smooth transform effect */
}

.colorTheme1Icon:hover,
.colorTheme2Icon:hover,
.colorTheme3Icon:hover,
.colorTheme4Icon:hover {
    transform: scale(1.2);
    /* Slightly enlarge on hover */
}

.inputPromptContainer {
    width: 100%;
    height: 40%;
    margin: 2%;
}

.inputProjectPrompt {
    height: 100%;
    display: flex;
    width: 100%;
    background-color: #272541;
    border: 3px solid #B300F2;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    padding: 3%;
    resize: none;
}

.btn {
    cursor: pointer;
    background-color: #474c7c;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 15vw;
    min-width: 120px;
    height: 7vh;
    min-height: 40px;
    border: solid #b300f2 1px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: inset 0px -4px 32px -4px rgba(12, 12, 13, 0.1);
}

.promptBottom {
    color: #B300F2;
    display: flex;
    justify-content: right;
    text-align: right;
    align-items: center;
    margin-top: -40px;
    margin-right: 10px;
    color: white;
    font-size: 18px;
}

.totalCharacters {
    font-family: Arial, Helvetica, sans-serif;
    /* Adjusted font size */
    align-self: flex-end;
    /* Align to the right */
    margin: 2%;
}

.copyPasteIcon {
    cursor: pointer;
    transition: color 0.3s ease;
}

.copyPasteIcon:hover {
    color: #B300F2;
    /* Change color on hover */
}


.searchContainer {
    width: 70%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #272541;
    border: solid #b300f2 3px;
    border-radius: 8px;
    margin: 2%;
}

.searchTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    font-weight: 50;
    margin: 2%;

}

.searchInput {
    width: 70%;
    height: 35px;
    background: #504E6B;
    border: 1px solid #B300F2;
    border-radius: 20px;
    font-size: 17px;
    color: white;
    padding-left: 10px;
    font-size: 14px;
    margin: 2%;

}

.searchBtn {
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;

    /* Smooth color transition */
}

.searchBtn:hover {
    color: #B300F2;
    /* Change color on hover */
}

.btn:hover {
    background-color: #B300F2;
    /* Hover effect */
}

.genresList {
    margin: 2%;
    display: flex;
    flex-direction: row;
    /* Display genres in a row */
    flex-wrap: wrap;
    /* Allow wrapping to next line */
    justify-content: center;
    /* Center align items horizontally */
    align-items: flex-start;
    width: 100%;
    /* Ensure full width for wrapping */
    height: 100%;
}

.genreItem {
    color: white;
    cursor: pointer;
    display: flex;
    height: 30%;
    font-size: 12px;
    border: solid #b300f2 1px;
    justify-content: center;
    background-color: #474c7c;
    align-items: center;
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    box-shadow: inset 0px -4px 32px -4px rgba(12, 12, 13, 0.1);
    /* Allow flexible width */
    max-width: calc(50% - 20px);
    /* Maximum width for each item (with margin) */
    text-align: center;
    /* Center text inside genre item */

}



.genreItem:hover {
    background-color: #B300F2;
    /* Hover effect */
}