.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #272541;
    height: fit-content;
    width: fit-content;
    margin-right: -50%;
    position: relative;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
    border: solid #B300F2 3px;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    height: 60vh;
}

.modalTitleContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 20%;
    background-color: #0B0A1A;
    border: solid #B300F2 1px;
    border-radius: 10px;
}

.modalTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background: linear-gradient(90deg, #48DEFF, #EE00F2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin: 0;
    margin-left: 20px;
    font-style: normal;
    font-weight: 400;
}

.promptContainer {
    width: 90%;
    min-height: 20%;
    background-color: #504E6B;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #B300F2 1px;
    border-radius: 10px;
    color: white;
}

.btn {
    cursor: pointer;
    background-color: #474C7C;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    height: 7vh;
    border: solid #B300F2 1px;
    border-radius: 5px;
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.voteContainer {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.voteTxt {
    color: white;
}

.btn:hover {
    background-color: #B300F2;
    /* Hover effect */
}

.import {
    width: 80%;
    padding: 2%;
    background: #535992;
    border: 1px solid #EE00F2;
    box-shadow: inset 0px -4px 32px -4px rgba(12, 12, 13, 0.1);
    border-radius: 8px;
    margin-bottom: 1%;
    color: white;
}

.dropzone {
    border: 1px solid #EE00F2;

    padding: 3%;
}

.promptContainer {
    color: white;
}