.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #272541;
    height: fit-content;
    width: fit-content;
    margin-right: -50%;
    position: relative;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
    border: solid #B300F2 3px;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
}

.modalTitleContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 20%;
    padding: 10px;
    background-color: #0B0A1A;
    border: solid #B300F2 1px;
    border-radius: 10px;
}

.modalTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    background: linear-gradient(90deg, #48DEFF, #EE00F2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin: 0;
    margin-left: 20px;
    font-style: normal;
    font-weight: 400;
}

.promptContainer {
    width: 90%;
    min-height: 20%;
    background-color: #504E6B;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #B300F2 1px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    padding: 2%;
}

.btn {
    cursor: pointer;
    background-color: #474C7C;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    min-height: 40px;
    height: 90%;
    border: solid #B300F2 1px;
    border-radius: 5px;
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
    transition-duration: 500ms;
}

.voteContainer {
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.voteContainerLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.voteTxt {
    color: white;
    font-size: 85%;
    margin: 5px;
    width: 100%;
}

.genreTxt {
    color: white;
    font-size: 85%;
    margin: 5px;
}

.voteStars {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 3%;
    background-color: #474C7C;
    border: #B300F2 1px solid;
    border-radius: 10px;
    cursor: pointer;
    font-size: 150%;
}

.colorThemeIcon {
    font-size: 22px;
    margin: 5px;

}

.colorThemeIconInactive {
    font-size: 22px;
    margin: 5px;
    color: #39374c;
}

.btn:hover {
    background-color: #B300F2;
}

.import {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 15%;
    padding: 2%;
    background: #535992;
    border: 1px solid #EE00F2;
    box-shadow: inset 0px -4px 32px -4px rgba(12, 12, 13, 0.1);
    border-radius: 8px;
    margin-bottom: 1%;
    color: white;
}


.inputImport::file-selector-button {
    font-weight: bold;
    background-color: #535992;
    padding: 1em;
    border: thin solid white;
    border-radius: 13px;
    flex-wrap: wrap;
    cursor: pointer;

}

.dropzone {
    border: 1px solid #EE00F2;
    padding: 3%;
}

.promptContainer {
    color: white;
}

.isPublic {
    cursor: pointer;
    height: 20px;
    border-radius: 100%;
    width: 28px;
    background: rgb(48, 216, 48);
    transition-duration: 500ms;
}

.isNotPublic {
    cursor: pointer;
    height: 20px;
    width: 28px;
    background-color: #272541;
    border-radius: 20px;
    border: 1px solid white;
    border-color: white;
    transition-duration: 500ms;
    margin-right: 1%;
}

.public {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-top: 3%;
}

.text {
    margin: 5%;
    color: white
}

.modalBtnContainer {
    display: flex;
    margin: 1%;
    justify-content: center;
}

.errorMessage {
    color: red;
    height: 10%;
    margin: 0;
}