.promptContainer {
  display: flex;
  flex-direction: column;
  padding-top: 1vh;
  /* padding-bottom: 1vh; */
  align-items: center;
  width: 100%;
  height: 100%;
  background: #272541;
  border: 1px solid #B300F2;
  border-radius: 10px;
  transition-duration: 500ms;

}

.promptContainer:hover {
  background-color: #B300F2;
  height: 100%;
  /* Hover effect */
}

.itemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 96%;
  height: 90%;
  font-size: 18px;
  /* user-select: none; */
}

.titleBackground {
  background-color: #272541;
  border-radius: 50px;
}

.title {
  background: linear-gradient(90deg, #48DEFF 0%, #EE00F2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: black;
  background-clip: text;
  font-size: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  border: white 1px solid;
  padding: 10%;
  width: 10vw;
  border-radius: 50px;
}


.titleBox {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 1%;

}

.score {
  display: flex;
  width: 10vw;

}

.star {
  margin-left: 5px;
  font-size: 11px;

}

.starGrey {
  margin-left: 5px;
  font-size: 11px;
  color: #504E6B;
}

.itemPrompt {
  padding-left: 22%;
  font-size: 15px;
  padding-top: 6px;
  width: 70%;
  display: flex;
  align-items: center;
  margin-left: 3%;

}

.iconsBox {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
  margin-left: 10%;
}

.icon {
  display: flex;
  font-size: 25px;
  color: white;
  margin-right: 20%;
  cursor: pointer;
}



.xmark {
  cursor: pointer;
  margin-left: 20px;

}

.genre {
  border: #ffffff 1px solid;
  border-radius: 15px;
  padding: 2%;
  margin-right: 10%;
  margin-left: 15%;
  width: 10vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.author {
  margin-right: 1%;
  width: 10%;
}