.mainContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0B0A1A;
    color: white;
    margin: 0%;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 9%;
}

.inputDiv {

    width: 100%;
    height: 10%;
    color: white;
    background: #272541;
    border-radius: 10px;
    margin: 1%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 4%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input {

    width: 100%;
    height: 10%;
    color: white;
    background: #272541;
    border: 0px solid #0B0A1A;
    border-radius: 10px;
    margin: 1%;
    padding: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input::-ms-reveal,
.input::-ms-clear {
    display: none;
}

.messages {
    font-size: 12px;
    color: red
}

.h1 {
    margin-top: 1%;
    margin-bottom: 0%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    background: linear-gradient(90deg, #48DEFF 0%, #EE00F2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;


}

.h2 {
    margin: 1%;
    font-size: 20px;
    text-align: center;
}

.h3 {
    font-size: 80%;
    text-align: center;
}

.createBtn {
    width: 100%;
    padding: 2%;
    background: #535992;
    border: 1px solid #EE00F2;
    box-shadow: inset 0px -4px 32px -4px rgba(12, 12, 13, 0.1);
    border-radius: 8px;
    margin-bottom: 1%;
    color: white;
}

.createBtn:hover {
    cursor: pointer;
}

.returnBtn {
    display: flex;
    margin: 15px;
    width: 50%;

}

.returnBtn:hover {
    cursor: pointer;
}