.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  background-color: #0B0A1A;
}

.handleConnectionContainer {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  border-bottom: solid #B300F2 3px;
  box-sizing: border-box;
  padding: 0 20px;
}

.title1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  background: linear-gradient(90deg, #48DEFF, #EE00F2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin: 0;
}


.btn {
  cursor: pointer;
  background-color: #474c7c;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 15vw;
  min-width: 120px;
  height: 7vh;
  min-height: 40px;
  border: solid #b300f2 1px;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.3s ease;
}


.btn:hover {
  background-color: #B300F2;
  /* Hover effect */
}

.tutoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 80vh;
  text-align: center;
}

.tutoTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.tutoTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  flex-grow: 1;
}

.tutoText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  max-width: 80%;
  line-height: 1.5;
}

.tutoFooter {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 500px;
  padding: 10px;

}

.tutoFooter button {
  flex: 1;
  /* Equal space distribution */
  max-width: 120px;
  /* Prevent excessive stretch */
}

.tutoCarousel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20vh;
  height: 7vh;
  background-color: #474c7c;
  border: solid #b300f2 1px;
  border-radius: 5px;
  margin: 5px;
}

.carouselIconOff {
  color: #0B0A1A;

}

.carouselIconOn {
  color: white;

}

.carouselIconOff:hover {
  color: #B300F2;
  /* Hover effect */
}