.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-color: #0B0A1A;
}

.tutoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 90vh;
  text-align: center;
}

.tutoTitleText {
  margin-top: 12%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  text-align: center;
  background: linear-gradient(90deg, #FFFFFF 0%, #999999 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tutoTitleText2 {
  margin-top: 8%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  background: linear-gradient(90deg, #FFFFFF 0%, #999999 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tutoTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.tutoText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  max-width: 80%;
  /* line-height: 1.5; */
  background: linear-gradient(90deg, #FFFFFF 0%, #999999 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tutoFooter {
  display: flex;
  justify-content: space-between;
  height: 10%;
  width: 100%;
  margin-left: 15vw;
  margin-right: 15vw;
  background-color: #0B0A1A;


}

.tutoFooter button {
  flex: 1;
  max-width: 120px;
  margin-left: 15%;
  margin-right: 15vw;
}

.btn {
  cursor: pointer;
  background-color: #474c7c;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 15vw;
  min-width: 150px;
  height: 7vh;
  min-height: 40px;
  border: solid #b300f2 1px;
  border-radius: 5px;
  transition: background-color 0.5s ease;
  box-shadow: inset 0px -4px 32px -4px rgba(12, 12, 13, 0.1);
}

.btn:hover {
  background-color: #B300F2;
  /* Hover effect */
}

.tutoCarousel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 15vw;
  height: 7vh;
  background-color: #535992;
  border-radius: 10px;
  max-width: 15vw;
  min-width: 15vw;
  font-size: 12px;
}

.carouselIconOff {
  cursor: pointer;
  color: white;

}

.carouselIconOn {
  cursor: pointer;
  color: black;

}

.carouselIconOff:hover {
  color: #B300F2;
}

.emptyDiv {
  width: 12vw;
  margin-left: 15%;
  margin-right: 15vw;
}